<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Créé par @hugolgc</title>
    <link rel="stylesheet" href="tailwind.min.css">
    <script src="jquery.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="main.js" defer></script>
  </head>
  <body class="h-screen flex justify-center items-center bg-black">
    <main class="grid grid-cols-3 border border-white"></main>
    <section class="fixed right-0 bottom-0 left-0 p-8 text-center">
      <a class="text-white text-2xl cursor-pointer">Nouvelle partie</a>
    </section>
  </body>
</html>
